<div class="top-nav-bar" id="header-bar">
	<i class="fa fa-align-justify" {{action 'toggleSideNav'}}></i>
	SCRUM HAMMER
</div>
{{outlet}}

<div id='side-nav-wrapper' class={{if sideNavShow 'show'}} {{action 'toggleSideNav'}}></div>
<div id='side-nav' class={{if sideNavShow 'show'}}></div>