<div class="group" id="app-header">
	<i class="fa fa-align-justify pull-left toggle-menu" {{action 'toggleSideNav'}}></i>
	<span>{{pageTitle}}</span>
</div>
{{outlet}}

<div id='side-nav-wrapper' class={{if sideNavShow 'show'}} {{action 'toggleSideNav'}}></div>
<div id='side-nav' class={{if sideNavShow 'show'}}>
	<div>Yo</div>
</div>